html,
body,
div,
input,
span,
a,
select,
textarea,
option,
h1,
h2,
h3,
h4,
main,
aside,
article,
section,
header,
p,
footer,
nav,
pre {
    box-sizing: border-box;
    font-family: 'Righteous';
}

html {
    background-color: #F8F9F9;
    background: linear-gradient(0deg, #f9f8f8 0%, #f9f8f8 80%, #feef3c 80%, #feef3c 100%);
    padding: 30px;
    height: 100%;
}

input,
textarea,
select {
    outline: 0;
}

h1 {
    margin: 0;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #eceff2;
    color: #6a737f;
    font-weight: 600;
    background-color: #f9fbfc;
}

h1 i {
    padding-right: 10px;
    font-size: 24px;
}

.hotel-reservation-form {
    background-color: #fff;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
}

.hotel-reservation-form .fields {
    position: relative;
    padding: 20px;
}

.hotel-reservation-form select {
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #c7c9cb 50%), linear-gradient(135deg, #c7c9cb 50%, transparent 50%), linear-gradient(to right, #dfe0e0, #dfe0e0);
    background-position: calc(100% - 20px) 20px, calc(100% - 15px) 20px, calc(100% - 40px) 10px;
    background-size: 5px 5px, 5px 5px, 1px 25px;
    background-repeat: no-repeat;
}

.hotel-reservation-form select option:first-child {
    display: none;
}

.hotel-reservation-form input[type="date"]::-webkit-calendar-picker-indicator {
    color: #ddd;
    filter: invert(0.8);
}

.hotel-reservation-form input[type="text"],
.hotel-reservation-form input[type="email"],
.hotel-reservation-form input[type="date"],
.hotel-reservation-form input[type="tel"],
.hotel-reservation-form select {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #dfe0e0;
    width: 100%;
    flex-basis: 100%;
    height: 47px;
}

.hotel-reservation-form input[type="text"]:focus,
.hotel-reservation-form input[type="email"]:focus,
.hotel-reservation-form input[type="tel"]:focus,
.hotel-reservation-form input[type="date"]:focus,
.hotel-reservation-form select:focus {
    border: 1px solid #c6c7c7;
}

.hotel-reservation-form input[type="text"]::placeholder,
.hotel-reservation-form input[type="email"]::placeholder,
.hotel-reservation-form input[type="tel"]::placeholder,
.hotel-reservation-form input[type="date"]:invalid,
.hotel-reservation-form textarea::placeholder,
.hotel-reservation-form select:invalid {
    color: #858688;
}

.hotel-reservation-form textarea {
    resize: none;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #dfe0e0;
    width: 100%;
    height: 150px;
}

.hotel-reservation-form textarea:focus {
    border: 1px solid #c6c7c7;
}

.hotel-reservation-form input[type="submit"] {
    display: block;
    margin-top: 15px;
    padding: 15px;
    border: 0;
    background-color: #feef3c;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.hotel-reservation-form input[type="submit"]:hover {
    background-color: #feef3c;
}

.hotel-reservation-form input[name="email"] {
    position: relative;
    display: block;
}

.hotel-reservation-form .field {
    display: inline-flex;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}

.hotel-reservation-form label {
    font-size: 14px;
    font-weight: 600;
    color: #8e939b;
}

.hotel-reservation-form .field i {
    position: absolute;
    color: #dfe2e5;
    top: 25px;
    left: 15px;
    z-index: 10;
}

.hotel-reservation-form .field i~input {
    padding-left: 45px !important;
}

.hotel-reservation-form .responses {
    padding: 15px;
    margin: 0;
}

.hotel-reservation-form .fields .wrapper {
    display: flex;
    justify-content: space-between;
}

.hotel-reservation-form .fields .wrapper>div {
    width: 100%;
}

.hotel-reservation-form .fields .wrapper .gap {
    width: 35px;
}